body{
    height: 400px;
    width:300px
}

.qr-container{
    margin: 0 auto;
    text-align: center;
    width:200px
}
.info{
    height: 40px;
    line-height: 40px;
    margin:10 0;
    width:100%;
}
.info input{
    height: 40px;
    line-height: 40px;
    width: 200px
}
a:link{
    color:black;
    text-decoration: none;
}

a:visited{
    color:black;
    text-decoration: none;
}
a:hover{
    color:black;
    text-decoration: none;
}
a:active{
    color:black;
    text-decoration: none;
}